/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkgray;
}

.app {
  text-align: center;
}

.navbar {
  /* background-color: #333; */
  /* background-color: darkgray; */
  background-color: black;
  padding: 1.5rem;
}

.navbar a {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
}

/* Add more CSS styles for other components as needed */
